<div class = "header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <p class = "navbar-text pull-right">         	
        	<% if user_signed_in? %>
            <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new spaces</button> -->
            <%= link_to "Add new space", new_user_space_path(current_user.id), :type=>"button", :class=>"btn btn-primary btn-lg", data: {toggle: "modal", target: "#fModal"},remote: true %> 

        		<%= link_to "logout",destroy_user_session_path, class: "btn btn-lg btn-primary navigation", method: :delete
        		%>
        	<% else %>
        		<%= link_to "login",new_user_session_path, class: "btn btn-lg btn-primary navigation"
        		%>
            <%= link_to "sign up", new_user_registration_path, 
            class: "btn btn-lg btn-primary navigation"%>
        	<% end %>
          <!-- search  -->          
            <div class = "search">
              <%= form_tag spaces_path, :method => 'get' do %>
                <p>                  
                  <%= text_field_tag :search, params[:search], :placeholder=> "search location" %>
                  <%= submit_tag "Search", :name=>nil, id: "search" %>
                </p>
              <% end %>
            </div>
        </p>
      </div>
    </nav>
       
</div>
<%= render partial:'modal' %>    




