	<h1>you have hosted following appartments </h1>
<div class = "row">
	<% @spaces.each do |s| %>
		<div class = "col-sm-4 link-box">
			<h3>Appartment:<%= link_to s.name %></h3>
			<h4>location: <%= s.location %></h4>
			<h4>available rooms: <%= s.number_of_rooms %></h4>
			<h4>price per room: <%= s.price %> rupees </h4>
			<h4>Contact number: <%= s.phone_number %></h4>
			<%= link_to "Edit","",class: "btn btn-primary "%>
			<%= link_to "Delete",user_space_path(@user.id, s.id),class: "btn btn-primary link", method: :delete, data:{confirm: "r u sure?"}%>
		</div>	
	<% end %>
</div>
