	<%= render 'header' %>
	<h1>you have hosted following appartments </h1>
<div class = "row" id = "show-list">
	<% @spaces.each do |s| %>
		<div class = "col-sm-4" id = "list-<%= s.id %>">			
			<h3>Appartment:<%= link_to s.name %></h3>
			<h4>location: <%= s.location %></h4>
			<h4>available rooms: <%= s.number_of_rooms %></h4>
			<h4>price per room: <%= s.price %> rupees </h4>
			<h4>Contact number: <%= s.phone_number %></h4>

			<button type="button" class="btn btn-info btn-lg" data-toggle="Modal" data-target="#Modal">Open Modal</button>

			<%= link_to "Delete",user_space_path(@user.id, s.id),class: "btn btn-primary remote-link", method: :delete, data:{confirm: "r u sure?"}, remote: true%>
		</div>	
	<% end %>
</div>

<div id="Modal" class="Modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>