<div class = "container">
	<h3 class = "text-center">Like what you see?</h3>
	<div class = "navbar navbar-default">
		<div class = "row">
			<div class = "col-sm-4">
				<section>
					<h3>
						<strong>Name:</strong><%= @space.name %><br><br>
						<strong>location:</strong><%= @space.location%><br><br>
						<strong>Abvailable rooms:</strong><%= @space.number_of_rooms%><br><br>
						<strong>Contact number:</strong><%= @space.phone_number%><br><br>
						<strong>Price</strong><%= @space.price%><br><br>
					</h3>
				</section>
			</div>
			<div class = "col-sm-8">
				<%= image_tag(@space.image.url(:medium))%>
			</div>
		</div>
	</div>	
</div>