<%= render 'layouts/header'%>

<div class = "row">
	<div class = "col-sm-2">
	</div>
	<div class = "col-sm-3 extra-space">
		<div class = "thumbnails">
			<div class= "caption">
				<h3>Have some extra space</h3>
				<p> share it and earn money</p>
				<p>					
					<%= link_to "see how you can earn","", class: "btn btn-primary btn-lg btn-earn"%>
				</p>
			</div>
		</div>
	</div>
	<div class = 'col-sm-6 extra-image'>
		<div class = "image-holder navbar-text pull-right">
			<%= image_tag("rooms.jpg")%>
		</div>
	</div>
</div>
<div>

<div class = 'side-bar'>
	<p>
		Have some extra space? Its time you share it with world.
		World has been shrinked as the technology expands. The global conciousness is on rise
		people now are travelling futher than we could imagine.
	</p>
	<p>
		More than hundred millions travellers have crossed our services and the counting is still undoubtly rising.
	</p>
	<P>
		Nothing please Travellers more than sleeping in bed that feels like home.We,
		ShareIt, as the name itself defines, work hard to bring those travellers close to
		their home, your home.
	</p>
	<p>
		While traveller are getting sleep of heaven, you on other hand can earn some money
		with your barren space.
	</p>
	<p>
		ShareIT makes it easy for you. 
		<ul class = "focus-on-click">
			<li><p>
				<%=link_to "Sign up",new_user_registration_path%>
			</p></li>
			<li><p>Fill the form hence giving us information about your place</p></li>
			<li><p>Traveller will request to book your space.Of course you are boss to decide who gets what</p></li>
			<li><p>They will make payment from ShareIt from which 10% is deducted as ShareIt service charge</p></li>
		</ul>
	</p>
</div>	

<div class = "explore"></div>
<h2 class = "text-center explore navbar navbar-inverse">explore the world</h2>
</div>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-4">
			<div class = "thumbnail-index pic-box">        
				<%= image_tag("abu-dhabi.jpg") %>
			  <div class = "caption">
			  	<h3 class = "text-warning" >Dubai</h3>
			  </div>
			</div>
		</div>
		<div class = "col-sm-4">
			<div class = "thumbnail-index pic-box">        
				<%= image_tag("japan.jpg") %>
			  <div class = "caption">
			  	<h3 class = "text-warning" >Japan</h3>
			  </div>
			</div>
		</div>
		<div class = "col-sm-4">
			<div class = "thumbnail-index pic-box">        
				<%= image_tag("egypt.jpg") %>
			  <div class = "caption">
			  	<h3 class = "text-warning" >Egypt</h3>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class = 'client container'>
	<p>
		<h3 class = "text-info">Planning to travel this holiday? Searching for best location? </h3>
		<h4 class = "text-danger"><secondary><em> With ShareIT you will never miss home again.</em></secondary></h4>
	</p>
	<p>
		With More than  millions suscribers and thousand of booking each day, ShareIT provides you with undeniable choices at the most <highlight><em>resonable price</em></highlight>
	</p>	
	<p>
		<%= link_to "see how","", class: "btn-primary btn join-us"%> to find out more how ShareIT makes it easy for you.
	<p>	
	<div class = "join-slide">		 
		<ul class = "join-focus">
			<li><p>
				<%=link_to "Sign up",new_user_registration_path%>
			</p></li>
			<li><p>Search for accomodation</p></li>
			<li><p>Send the request to host</p></li>
			<li><p>After host confirms,you have to make payment from ShareIt from which 10% is deducted as ShareIt service charge</p></li>
		</ul>	
	</div>	
</div>


